@model Capstone1.Models.Event


<h1>Create Event</h1>

<form asp-controller="Event" asp-action="Add" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Event</h2>
            <hr />
            <br />
            <div asp-validation-summary="All" class="error-message">
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="error-message"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Time"></label>
            <input asp-for="Time" class="form-control" type="time" />
            <span asp-validation-for="Time" class="error-message"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control" type="date" />
            <span asp-validation-for="Date" class="error-message"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="error-message"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AgeRestriction"></label>
            <input asp-for="AgeRestriction" class="form-control" />
            <span asp-validation-for="AgeRestriction" class="error-message"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="error-message"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add Event</button>
    </div>

</form>
