@using Capstone1.Models
@model IEnumerable<Capstone1.Models.Event>


<h2>View your profile here</h2>
<input type="text" id="searchBox" class="form-control" placeholder="Search events..." oninput="searchEvents()">
<ul id="searchResults" class="list-group mt-2"></ul>

<br />
<br />
<br />
<h1>Event List</h1>

<br />
<br />
<br />
<br />

<h2>There is @Model.Count() events in the listing at the moment</h2>

@if (Model == null)
{
    <h2>No Events Found</h2>
}
else
{
    @foreach(Event e in Model){
        <partial name="_EventPartialView.cshtml" for="@e" />

    }
}


