@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Event Central</h1>
    <p>

    </p>
    <h1>Create. Connect. Celebrate!</h1>
</div>
