@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Event Central</h1>
    <p>

    </p>
    <nav>Links for navigation HeRe.</nav>
</div>
