@page
@{
    ViewData["Title"] = "Sign In";
}
<h1>@ViewData["Title"]</h1>

<p>This page is to sign in.</p>
    <div class="login-container">
        <h2>User Login</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>

        <a asp-page="Profile" class="btn btn-primary">Sign In</a>
            @* <button type="submit">Login</button> *@
        </form>
    </div>